.mainContent {

    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    #intro {


        
    }
    #info-container {

        display: flex;
    }
}